<h1>FREE BOOSIE</h1>

<p>Please leave me a message below!</p>

<form method="post" action="/">

	<label for="name">Your Name</label>
	<input type="text" name="name" />

	<label for="message">Your Message</label>
	<input type="text" name="message" />

	<input type="submit" value="Post" />

</form>

<h2>Previous Messages</h2>
	
	<% @userMessageHash.each_pair do |name, messageArray| %>
			<ul><a href="/users/<%=name%>"><%=name%></a>
				<% messageArray.each do |message| %>
					<li><%= message["message"] %></li>
				<% end %>
			</ul>
	<% end %>
